<h2>Instructor page</h2>

<div>
    <a asp-action="AddInstructor" class="btn btn-primary">Add Instructor</a>
    <!-- Add Instructor button added above the table -->
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Instructor ID</th>
                <th>Instructor Email</th>
                <th>Instructor Name</th>
                <th>Instructor Rank</th>
                <th>Instructor Date Hired</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var element in Model)
                {
                    <tr>
                        <td>@element.instructorID</td>
                        <td>@element.instructorEmail</td>
                        <td>@element.instructorFirstName</td>
                        <td>@element.instructorLastName</td>
                        <td>@element.instructorRank</td>
                        <td>@element.instructorDateHired</td>
                        <td><a asp-action="ShowDetail" asp-route-id="@element.instructorID" class="btn btn-primary">Show Details</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
